body {
    background: url(resources/concert.jpg);
    background-size: 800px 640px;
    background-repeat: yes;
    background-attachment: fixed;
    margin: 0;
    overflow: scroll;
    }

#headerimage {
    text-align: center;
    width: 100%;
    background-color: #00B8BE;
    border-bottom: 3px solid white;
    border-collapse: collapser;
    margin: 0px 0px 10px;
    }

#headerimage a {
    width: 100%;
    }

#headerimage a:hover {
    opacity: 0.6;
    }

#headerimage img {
    width: 400px;
    }

.nav li {
    text-indent: 20px;
    justify: center;
    border: 3px solid white;
    border-collapse: collapse;
    line-height: 5px;
    }

#nav li + li{
    border-top: none;
}

#nav {
    margin: 0 auto;
    font-family: arial;
    list-style-type: none;
    font-size: 10pt;
    max-width: 250px;
    }

#nav a:hover {
    background-color: orange;
    color: #32FFD0;
    }

#nav a:active {
    background-color: #4699CC;
    }

#content {
    color: #BDADBE;
    }

.wrapper {
    border-collapse: collapse;
    }