body {
    overflow: scroll;
    background-image: url(resources/Contour-Map.png);
    }

.container {
    min-height: 90%;
    width: 100%;
    background-color: #FFFFFF;
    }

.row {
    background-color: #FFFFFF;
    }

#outer a:hover {
    opacity: 0.9;
    background-color: #00B8BE;
    }

#primary-navigation {
    margin-top: 5px;
    }

#headerimage {
    text-align: center;
    width: 100%;
    background-color: #00B3B9;
    border-bottom: 2px solid #007F85;
    border-collapse: collapse;
    margin: 0px auto;
    }

@media screen and (max-width: 700px) {
    #headerimage img {
        max-width: 200px;
        }
    #primary-navigation li, a {
    font-height: 12px;
    height: 20px;
    }
    }

.span12 tabbable {
    margin-left: 10px;
    margin-right: 10px;
    }

.navlink a:hover {
    background-color: #FF9CC1;
    }

#headerimage a {
    width: 100%;
    }

#headerimage img {
    width: 400px;
    }

#photolist img {
    margin: 5px auto;
    }

#socialpic {
    border: 2px solid white;
    border-radius: 100px;
    }

#content {
    }

.wrapper {
    border-collapse: collapse;
    }

footer {
    text-align: center;
    display: block;
    }